{% extends 'layout.twig' %} 


{% block submenu %}
     <h5>Usuario</h5> 
         <br>
        <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="/user/create"><p style="color:#fff" ><strong>Crear Usuario</strong></p> </a>  
            </div>  
        </div>
        </div> 	
{% endblock %}  
 
{% block body %} 
        <div class="container"> 
            {% if users is not empty %}
                <table class="table">
                    <thead class="thead-dark">
                        <tr> 
                            <th>Nombre</th>
                            <th>rol</th>
                            <th>Usuario</th>
                            <th>Email</th>  
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><a href="/products/show/{{ user._id }}">{{ user.firstname }} {{ user.lastname }}</a></td>
                             <td>{{ user.rol }}</td>
                            <td>{{ user.usuario }}</td>
                             <td>{{ user.mail }}</td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>No products found.</div>
            {% endif %}
        </div>
{% endblock %}   

 